@font-face {
    font-family: customfont;
    src: url(customfont.TTF);
  }

h2 {
    font-family: 'customfont'; 
    color: #00ee47ad;
    background-color: rgb(128, 0, 0);
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #ddc809cc;
}

body {
    font-family: 'Comic Sans MS', cursive, sans-serif; 
    color: rgba(0, 255, 13, 0.938);
    background-color: rgb(151, 0, 0);
    text-align: center;
}
h1 {
    font-size: 24px;
    color: rgb(0, 255, 13);
}

p {
    font-size: 20px;
}
